{% extends '@PalomaShop/layout.html.twig' %}

{% block main %}

    <section class="hero is-medium is-primary is-bold">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Primary bold title
                </h1>
                <h2 class="subtitle">
                    Primary bold subtitle
                </h2>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="content">
                <h3>Paloma – Digital Commerce Platform</h3>
                <p>Paloma gibt Ihrer bestehenden Systemlandschaft die notwendige Flexibilität, um Ihre Kunden online
                    perfekt bedienen zu können. Angesichts des sich rasant verändernden Handelsumfelds sollten Sie Ihren
                    Kunden ein konsistentes und überzeugendes Erlebnis bieten – und zwar zu jeder Zeit über jeden
                    Kanal.</p>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="content">
                <h4>Neuheiten</h4>

                {% set product %}
                    <div class="column is-3">
                        <div class="product-card">
                            <div class="product-card__inner">
                                <div class="product-card__image">
                                    <div class="product-card__image-inner">
                                        <div class="image is-square">
                                            <img src="https://placeimg.com/480/480/any">
                                        </div>
                                    </div>
                                </div>
                                <div class="product-card__info">
                                    <div class="product-card__brand">Marke</div>
                                    <a href="{{ path('paloma_catalog_product') }}" class="product-card__title">
                                        Example product name anything
                                    </a>
                                </div>
                                <div class="product-card__controls">
                                    <div class="product-card__price">
                                        <span class="price">
                                            <span class="price__currency">CHF</span>
                                            <span class="price__amount">21.45</span>
                                            <span class="price__original">24.95</span>
                                        </span>
                                    </div>
                                    <div class="product-card__actions">
                                        <form method="post" action="">
                                            <button>
                                                <span class="icon is-small">
                                                    <span class="fas fa-shopping-cart"></span>
                                                </span>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                                <div class="product-card__meta">
                                    <div class="product-card__badges">
                                        <div class="product-card__badge"><span class="badge">Neu!</span></div>
                                        <div class="product-card__badge"><span class="badge badge--red">-12 %</span></div>
                                    </div>
                                    <div class="product-card__availability">
                                        <div class="availability availability--green">
                                            <span class="availability__indicator"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a href="{{ path('paloma_catalog_product') }}" class="product-card__link"></a>
                        </div>
                    </div>
                {% endset %}

                <div class="columns is-multiline">
                    {{ product }}
                    {{ product }}
                    {{ product }}
                    {{ product }}
                    {{ product }}
                    {{ product }}
                    {{ product }}
                    {{ product }}
                    {{ product }}
                    {{ product }}
                    {{ product }}
                    {{ product }}
                    {{ product }}
                </div>

            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="content">
                <h4>Top Seller</h4>
            </div>
        </div>
    </section>

{% endblock %}
