{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% block toolbar %}

    {% set icon %}
        <span class="icon">
            <svg width="90" height="90" viewBox="0 0 90 90" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M74.872 54.652C72.74 60.245 68.645 64.791 63.482 67.35H42.022C35.01 67.35 29.325 61.664 29.325 54.652H74.872ZM75.587 38.324C76.173 40.34 76.488 42.471 76.488 44.674C76.488 46.879 76.174 49.01 75.587 51.024H32.953C25.94 51.024 20.255 45.339 20.255 38.326L75.587 38.324ZM52.907 22V22.016C61.925 22.333 69.747 27.352 73.997 34.697L25.697 34.698C18.685 34.698 13 29.013 13 22H52.907Z" fill="currentColor"/>
            </svg>
        </span>
        <span class="sf-toolbar-value">{{ collector.totalTime }}</span>
        <span class="sf-toolbar-label">ms</span>
    {% endset %}

    {% set text %}
        <div class="sf-toolbar-info-piece">
            <b>Requests</b>
            <span>{{ collector.exchanges|length }}</span>
        </div>
        <div class="sf-toolbar-info-piece">
            <b>Total time</b>
            <span>{{ collector.totalTime }} ms</span>
        </div>
    {% endset %}

    {% if collector.totalTime > 1000 or collector.exchanges|length > 10 %}
        {% set status = 'yellow' %}
    {% elseif collector.totalTime > 10000 or collector.exchanges|length > 50 %}
        {% set status = 'red' %}
    {% endif %}

    {{ include('@WebProfiler/Profiler/toolbar_item.html.twig', { link: true }) }}

{% endblock %}

{% block menu %}
    <span class="label">
        <span class="icon">
            <svg width="90" height="90" viewBox="0 0 90 90" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M74.872 54.652C72.74 60.245 68.645 64.791 63.482 67.35H42.022C35.01 67.35 29.325 61.664 29.325 54.652H74.872ZM75.587 38.324C76.173 40.34 76.488 42.471 76.488 44.674C76.488 46.879 76.174 49.01 75.587 51.024H32.953C25.94 51.024 20.255 45.339 20.255 38.326L75.587 38.324ZM52.907 22V22.016C61.925 22.333 69.747 27.352 73.997 34.697L25.697 34.698C18.685 34.698 13 29.013 13 22H52.907Z" fill="currentColor"/>
            </svg>
        </span>
        <strong>Paloma</strong>
    </span>
{% endblock %}

{% block panel %}

    <h2>Paloma</h2>

    <p class="text-muted">HTTP requests to the Paloma backend and their responses are shown here.</p>

    <div class="metrics">
        <div class="metric">
            <span class="value">{{ collector.exchanges|length }}</span>
            <span class="label">Requests</span>
        </div>

        <div class="metric">
            <span class="value">{{ collector.totalTime }} <span class="unit">ms</span></span>
            <span class="label">Total time</span>
        </div>
    </div>

    {% for exchange in collector.exchanges %}
        <table style="width: 100%">
            <thead>
            <tr>
                <th style="width: 15%">{{ exchange.request.method }}</th>
                <th><code>{{ exchange.request.url }}</code></th>
            </tr>
            </thead>
            <tbody>
            {% if exchange.request.body %}
                <tr>
                    <th>Request body</th>
                    <td>
                        <pre style="max-height: 200px; overflow-y: auto; white-space: pre-wrap;">{{ exchange.request.body }}</pre>
                    </td>
                </tr>
            {% endif %}
            <tr>
                <th>Response</th>
                <td><code>{{ exchange.response.status }}</code> <small>&ndash; {{ exchange.duration }} ms</small></td>
            </tr>
            {% if exchange.response.body %}
                <tr>
                    <th>Response body</th>
                    <td>
                        <pre style="max-height: 200px; overflow-y: auto; white-space: pre-wrap;">{{ exchange.response.body }}</pre>
                    </td>
                </tr>
            {% endif %}
            {% if exchange.call_stack %}
                <tr>
                    <th>Call stack</th>
                    <td>
                        <pre style="max-height: 200px; overflow-y: auto; white-space: pre-wrap;">{{ exchange.call_stack }}</pre>
                    </td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    {% endfor %}

{% endblock %}
