{% extends '@PalomaShop/layout.html.twig' %}

{% block title %}Log in - {{ parent() }}{% endblock %}

{% block main %}

    <div class="user-login">

        <section class="section">

            <div class="content">
                <h1>{{ 'customer.sign_in' | trans }}</h1>

                <p class="user-login__info">
                    {{ 'customer.sign_in.info' | trans }}
                </p>
            </div>

            <form method="post" class="form">

                {% if error %}
                    <div class="form__error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <div class="field form__field">

                    <label class="label" for="username">{{ 'field.email' | trans }}</label>

                    <div class="control has-icons-left">
                        <input class="input" type="email" name="username" id="username" value="{{ last_username }}"
                               required autofocus>
                        <span class="icon is-small is-left">
                          <i class="fal fa-envelope"></i>
                        </span>
                    </div>

                </div>

                <div class="field form__field">

                    <label class="label" for="password">{{ 'field.password' | trans }}</label>

                    <div class="control has-icons-left">
                        <input class="input" type="password" name="password" id="password"
                               required>
                        <span class="icon is-small is-left">
                          <i class="fal fa-envelope"></i>
                        </span>
                    </div>

                </div>

                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}">

                <input type="hidden" name="_remember_me" value="1">

                <div class="field is-grouped is-grouped-centered form__buttons">
                    <div class="control">
                        <div class="control">
                            <button class="button is-primary"
                                    type="submit">
                                {{ 'customer.sign_in' | trans }}
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </section>

    </div>
{% endblock %}
