{% if category is not defined %}
    {% set category = null %}
{% endif %}
<div class="product-card">
    <div class="product-card__inner">
        <div class="product-card__image">
            <div class="product-card__image-inner">
                <div class="image is-square">
                    {% set image = product.firstImage %}
                    {% if image %}
                        <img src="{{ image.getSource('small').url }}" alt="{{ image.name }}">
                    {% else %}
                        {# TODO placeholder image #}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="product-card__info">
            {% if product.getAttribute('brand') %}
                <div class="product-card__brand">{{ product.getAttribute('brand').value }}</div>
            {% endif %}
            <a href="{{ product_path(product, category) }}" class="product-card__title">
                {{ product.name }}
            </a>
        </div>
        <div class="product-card__controls">
            <div class="product-card__price">
                {{ price(product) }}
            </div>
        </div>
        <div class="product-card__meta">
            <div class="product-card__badges">
{#                <div class="product-card__badge"><span class="badge">Neu!</span></div>#}
{#                <div class="product-card__badge"><span class="badge badge--red">-12 %</span></div>#}
            </div>
            <div class="product-card__availability">
{#                <div class="availability availability--green">#}
{#                    <span class="availability__indicator"></span>#}
{#                </div>#}
            </div>
        </div>
    </div>
    <a href="{{ product_path(product, category) }}" class="product-card__link"></a>
</div>