{% set image_first = product.firstImage %}
{% if image_first %}

    <div class="product-images" id="paloma-product-images" :class="{'product-images--zoomed': zoomed}">

        <div class="product-images__image"
             @click.prevent="zoomed = true"
             data-image-full="{{ image_first.getSource('full').url }}">
            <div class="image">
                {% if image_first %}
                    <img src="{{ image_first.getSource('large').url }}" alt="{{ image_first.name }}">
                {% else %}
                    {# TODO placeholder image #}
                {% endif %}
            </div>
        </div>

        <div class="product-images__zoom" @click.prevent="zoomed = false">
            <a class="product-images__zoom-close" href="">
                <span class="icon is-large">
                    <i class="fal fa-times"></i>
                </span>
            </a>
            <div class="image product-images__zoom-image">
                <img :src="zoomUrl"/>
            </div>
        </div>

        {% set images = product.allImages %}
        {% if images|length > 1 %}
            <div class="product-images__thumbs">
                {% for image in images %}
                    <a class="product-images__thumb{% if image.scope == 'variant' %} product-images__thumb--hidden{% endif %}{% if image.name == image_first.name %} product-images__thumb--active{% endif %}"
                       data-image-large="{{ image.getSource('large').url }}"
                       data-image-full="{{ image.getSource('full').url }}"
                       data-image-scope="{{ image.scope }}"
                       data-image-sku="{{ image.variantSku }}"
                       @click="selectImage"
                       href="">
                        <div class="image">
                            <img src="{{ image.getSource('small').url }}" alt="{{ image.name }}">
                        </div>
                    </a>
                {% endfor %}
            </div>
        {% endif %}

    </div>

{% endif %}