{% extends '@PalomaShop/layout.html.twig' %}

{% block title %}{{ product.name }} &ndash; {{ parent() }}{% endblock %}

{% block meta %}
    {{ parent() }}
    <link rel="canonical" href="{{ product_url(product) }}">
{% endblock %}

{% block main %}
<div id="paloma-product-view">

    <section class="section">
        <div class="container">

            <div class="columns">
                <div class="column">

                    {% include '@PalomaShop/catalog/product/images.html.twig' %}

                </div>
                <div class="column">

                    <div class="product-summary" id="paloma-product-summary">

                        {% block breadrcrumb %}
                        {% if category is defined %}
                            {% include '@PalomaShop/catalog/category/breadcrumb.html.twig' %}
                        {% endif %}
                        {% endblock %}

                        {% block product_title %}
                        <h1 class="product-summary__title">
                            {{ product.name }}
                        </h1>
                        {% endblock %}

                        {% block product_annotations %}
                        <div class="product-summary__annotations">
                            {% if product.getAttribute('brand') %}
                            <span class="product-summary__annotation">{{ product.getAttribute('brand').value }}</span>
                            {% endif %}
                            <span class="product-summary__annotation">
                                {{ 'catalog.products.article_number' | trans }}
                                <span data-variant-prop="sku">{{ product.itemNumber }}</span>
                            </span>
                        </div>
                        {% endblock %}

                        {% block product_short_description %}
                        {% if product.shortDescription %}
                            <div class="product-summary__description">{{ product.shortDescription | raw }}</div>
                        {% endif %}
                        {% endblock %}

                    </div>

                    <div id="paloma-product-select">
                        <paloma-product-select :product="{{ product_json }}"></paloma-product-select>
                    </div>

                </div>
            </div>
        </div>

    </section>

    {% block product_content %}
    <section class="section">
        <div class="container">

            <div class="columns">
                <div class="column">
                    {% include '@PalomaShop/catalog/product/description.html.twig' %}
                </div>
                {% if product.attributes|length > 0 %}
                    <div class="column">
                        {% include '@PalomaShop/catalog/product/specs.html.twig' %}
                    </div>
                {% endif %}
            </div>

        </div>
    </section>
    {% endblock %}

    {% block product_recommendations %}
        <section class="section">
            <div class="container" id="paloma-product-recommendations">

                <paloma-product-recommendations :product="{{ product_json }}"></paloma-product-recommendations>

            </div>
        </section>
    {% endblock %}

</div>
{% endblock %}