{% extends '@PalomaShop/layout.html.twig' %}

{% block javascripts %}
    <script>
        var PALOMA = PALOMA || {};
        PALOMA.product = {{ product_json|raw }};
    </script>
    {{ parent() }}
{% endblock %}

{% block main %}
<div id="paloma-product-view">

    <section class="section">
        <div class="container">

            <div class="columns">
                <div class="column">

                    {% include '@PalomaShop/catalog/product/images.html.twig' %}

                </div>
                <div class="column">

                    <div class="product-summary">

                        {% if category is defined %}
                            {% include '@PalomaShop/catalog/category/breadcrumb.html.twig' %}
                        {% endif %}

                        <h1 class="product-summary__title">
                            {{ product.name }}
                        </h1>

                        <div class="product-summary__annotations">
                            {% if product.getAttribute('brand') %}
                            <span class="product-summary__annotation">{{ product.getAttribute('brand').value }}</span>
                            {% endif %}
                            <span class="product-summary__annotation">
                                {{ 'catalog.products.item_number' | trans }}
                                {{ product.itemNumber }}
                            </span>
                        </div>

                        {% if product.shortDescription %}
                            <div class="product-summary__description">
                                {{ product.shortDescription | raw }}
                            </div>
                        {% endif %}

                        <div id="paloma-product-select">
                            <paloma-product-select></paloma-product-select>
                        </div>

                    </div>

                </div>
            </div>
        </div>

    </section>

    <section class="section">
        <div class="container">

            <div class="columns">
                <div class="column">
                    {% include '@PalomaShop/catalog/product/description.html.twig' %}
                </div>
                {% if product.attributes|length > 0 %}
                    <div class="column">
                        {% include '@PalomaShop/catalog/product/specs.html.twig' %}
                    </div>
                {% endif %}
            </div>

        </div>
    </section>

    <section class="section">
        <div class="container" id="paloma-product-recommendations">

            <paloma-product-recommendations></paloma-product-recommendations>

        </div>
    </section>

</div>
{% endblock %}