{% extends '@PalomaShop/layout.html.twig' %}

{% block main %}
<div id="paloma-product-view">

    <section class="section">
        <div class="container">

            <div class="columns">
                <div class="column">

                    {% include '@PalomaShop/catalog/product/images.html.twig' %}

                </div>
                <div class="column">

                    <div class="product-summary">

                        {% if category is defined %}
                            {% include '@PalomaShop/catalog/category/breadcrumb.html.twig' %}
                        {% endif %}

                        <h1 class="product-summary__title">
                            {{ product.name }}
                        </h1>

                        <div class="product-summary__annotations">
                            {% if product.getAttribute('brand') %}
                            <span class="product-summary__annotation">{{ product.getAttribute('brand').value }}</span>
                            {% endif %}
                            <span class="product-summary__annotation">
                                {{ 'catalog.products.item_number' | trans }}
                                {{ product.itemNumber }}
                            </span>
                        </div>

                        {% if product.shortDescription %}
                            <div class="product-summary__description">
                                {{ product.shortDescription | raw }}
                            </div>
                        {% endif %}

                        <div class="product-summary__price">
                            {{ price(product) }}
                            <div class="product-summary__price-info">
                                {% if product.taxIncluded %}
                                    {{ 'catalog.products.vat_info_incl' | trans({'%rate%': product.taxRate}) }}
                                {% else %}
                                    {{ 'catalog.products.vat_info_excl' | trans({'%rate%': product.taxRate}) }}
                                {% endif %}
                            </div>
                        </div>

                        <div class="product-summary__variants">


                        </div>

                        <div class="product-summary__cart-form">

                            <form action="">
                                <div class="field is-grouped">

                                    <div class="control">
                                        <button class="button is-primary">
                                            {{ 'catalog.products.add_to_cart' | trans }}
                                        </button>
                                    </div>

{#                                    <div class="control">#}
{#                                        <a class="button is-outlined" title="Merken">#}
{#                                            <span class="icon">#}
{#                                                <i class="far fa-star"></i>#}
{#                                            </span>#}
{#                                        </a>#}
{#                                    </div>#}

{#                                    <div class="control">#}
{#                                        <a class="button is-outlined" title="Share">#}
{#                                            <span class="icon">#}
{#                                                <i class="fas fa-share-alt"></i>#}
{#                                            </span>#}
{#                                        </a>#}
{#                                    </div>#}

                                </div>

                            </form>

                        </div>

                    </div>

                </div>
            </div>
        </div>

    </section>
    <section class="section">

        <div class="container">

            <div class="columns">
                <div class="column">

                    {% include '@PalomaShop/catalog/product/specs.html.twig' %}

                </div>
                <div class="column">

                    {% include '@PalomaShop/catalog/product/description.html.twig' %}

                </div>
            </div>
        </div>

    </section>

</div>
{% endblock %}
