{% extends '@PalomaShop/base.html.twig' %}

{% block title %}{{ 'checkout.title' | trans }} &ndash; {{ parent() }}{% endblock %}

{% block meta %}
    {{ parent() }}
    <meta data-csrf-token="{{ csrf_token('authenticate') }}">
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block javascripts %}
    {% include '@PalomaShop/js_routes.html.twig' %}
    {{ parent() }}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

{% block body %}

    <script>
        var PALOMA = PALOMA || {};
        PALOMA.checkout = {
            state: '{{ state }}',
            order: {{ order_json|raw }},
            user: {{ user_json|raw }},
            errors: {{ errors_json|raw }}
        };
        PALOMA.user = {{ user_json|raw }};
    </script>

    <main id="paloma-checkout">
        <paloma-checkout></paloma-checkout>
    </main>

    {% block content %}
        <div class="is-hidden" id="content--payment-electronic">
            {% include '@PalomaShop/content/payment_electronic.html.twig' %}
        </div>
        <div class="is-hidden" id="content--checkout-purchase-info">
            {% include '@PalomaShop/content/checkout_purchase_info.html.twig' %}
        </div>
    {% endblock %}

{% endblock %}