{% extends '@PalomaShop/base.html.twig' %}

{% block title %}{{ 'checkout.title' | trans }} &ndash; {{ parent() }}{% endblock %}

{% block meta %}
    {{ parent() }}
    <meta data-csrf-token="{{ csrf_token('authenticate') }}">
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block javascripts %}
    {% include '@PalomaShop/js_routes.html.twig' %}
    {{ parent() }}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

{% block body %}

    <script>
        var PALOMA = PALOMA || {};
        PALOMA.checkout = {
            state: '{{ state }}',
            order: {{ order_json|raw }}
        }
    </script>

    <main id="paloma-checkout">
        <paloma-checkout></paloma-checkout>
    </main>

{% endblock %}