{% extends '@PalomaShop/base.html.twig' %}

{% block title %}{{ 'checkout.title' | trans }} &ndash; {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block javascripts %}
    {% include '@PalomaShop/js_routes.html.twig' %}
    {{ parent() }}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

{% block body %}

    <main id="paloma-checkout">
        <paloma-checkout></paloma-checkout>
    </main>

{% endblock %}