{% extends '@PalomaShop/base.html.twig' %}

{% block title %}{{ 'checkout.success.page_title' | trans }} &ndash; {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}

    <main class="checkout-success">

        <div class="container">

            {% block logo %}
                <div class="checkout-success__logo">
                    Logo
                </div>
            {% endblock %}

            {% block content %}

                <section class="content is-medium">

                    <h1 class="title">{{ 'checkout.success.title'|trans }}</h1>

                    <p>
                        {{ 'checkout.success.order_number'|trans({'%order_number%': order_number}) }}
                    </p>

                    <p class="text-smaller">
                        {{ 'checkout.success.info_confirmation'|trans }}
                    </p>

                    <p class="text-smaller">
                        {{ 'checkout.success.info_support'|trans }}
                    </p>

                    {% if logged_in %}
                        <p class="text-smaller">
                            {{ 'checkout.success.info_status'|trans }}
                        </p>
                    {% endif %}

                    <a href="{{ path('paloma_catalog_home') }}" class="button is-primary m-t2">
                        {{ 'checkout.success.button_home'|trans }}
                    </a>

                </section>

            {% endblock %}


        </div>


    </main>


{% endblock %}