{% extends '@PalomaShop/layout.html.twig' %}

{% block title %}{{ category.title }} &ndash; {{ parent() }}{% endblock %}

{% block meta %}
    <meta name="description" content="{{ category.metaDescription }}" />
{% endblock %}

{% block main %}

    <section class="section">
        <div class="container">
            {% block category_content %}

                {% include '@PalomaShop/catalog/category/breadcrumb.html.twig' with { include_self: false } %}

                <div class="content">
                    <h1>{{ category.name }}</h1>
                    {% if category.description %}
                        <p>{{ category.description }}</p>
                    {% endif %}
                </div>
            {% endblock %}
        </div>
    </section>

    <section class="section">
        <div class="container">
            {% block category_products %}
                {% include '@PalomaShop/catalog/product/list.html.twig' %}
            {% endblock %}
        </div>
    </section>

{% endblock %}
