{% extends '@PalomaShop/layout.html.twig' %}

{% block title %}{{ category.title }} &ndash; {{ parent() }}{% endblock %}

{% block meta %}
    {{ parent() }}
    <meta name="description" content="{{ category.metaDescription }}"/>
    <link rel="canonical" href="{{ category_url(category) }}">
{% endblock %}

{% block main %}

    <section class="section">
        <div class="container">

            {% include '@PalomaShop/catalog/category/breadcrumb.html.twig' with { include_self: false } %}

            {% block category_content %}
                <div class="content">
                    <h1>{{ category.name }}</h1>
                    {% if category.description %}
                        <div class="category__description">{{ category.description | raw }}</div>
                    {% endif %}
                </div>
            {% endblock %}
        </div>
    </section>

    {% if category.subCategories and category.subCategories|length > 0 %}
        <div class="container">
            <div class="category__children">
                <div class="field is-grouped">
                    {% for subCategory in category.subCategories %}
                        <div class="control">
                            <a class="button is-outlined" href="{{ category_path(subCategory) }}">
                                {{ subCategory.name }}
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}

    <section class="section">
        <div class="container">
            {% block category_products %}
                {% include '@PalomaShop/catalog/product/list.html.twig' %}
            {% endblock %}
        </div>
    </section>

{% endblock %}
